*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: lightgray;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 30px 40px ;
}
.header h1{
    font-size: 35px;
    font-family: sans-serif;
}

.header span{
    color: gray;
}

.container{
    height: 100vh;
    padding: 50px 200px;
    background-color: lightgray;
}
.material-symbols-outlined{
    font-size: 40px;
}

.card{
    background-color: lightgrey;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color:  grey;
    border-radius:30px ;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: rgb(0, 0, 0) 0 0 10px 1px;
}
.inputs{
    padding: 20px 30px;
    background-color: grey;
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group{
    width: 50%;
}

.card label{
    font-size: 20px;
    color: white;
}
.card input{
    height: 60px;
    background-color: white;
    width: 100%;
    border: transparent ;
    border-radius: 10px;
    padding: 0 0 0 10px;

}

.buttons{
    background-color: grey;
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(3,1fr) ;
    width: 100%;
    height: 100%;
    grid-gap: 20px;
}

.buttons_actions{
    background-color: lightgray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: transparent;
    border-radius: 10px;
    gap: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-clear{
    background-color: rgb(231, 61, 61);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: transparent;
    border-radius: 10px;
    gap: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.buttons_actions:hover{
    background-color: rgb(173, 173, 173);
}

.btn-clear:hover{
    background-color: rgb(211, 37, 37);
}

.resultado{
    background-color: gray;
    padding: 50px;
    border-radius: 30px;
    color: white;
    margin-top: 50px;
    font-family: sans-serif;
    display: none;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    box-shadow: rgb(0, 0, 0) 0 0 10px 1px;
}

.resultado h1{
    font-size: 25px;
}

.resultado strong{
    font-size: 27px;
}